<div class="event-schedule-area-two bg-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <div class="title-text">
            <h2>Clock In Records</h2>
          </div>
        </div>
      </div>
      <!-- /.col end-->
    </div>
    <!-- row end-->
    <div class="row">
      <div class="col-lg-12">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active show" id="home" role="tabpanel">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">日期</th>
                    <th scope="col">員工</th>
                    <th class="text-center" scope="col">工作內容</th>
                    <th scope="col">出勤狀態</th>
                    <th class="text-center" scope="col">修改出勤狀態</th>
                  </tr>
                </thead>
                <tbody>
                  {{!-- ! user 1 --}}
                  {{#each records}}
                  <tr class="inner-box">
                    <th scope="row">
                      <div class="event-date">
                        <p>{{this.date}}</p>
                      </div>
                    </th>
                    <td>
                      <div class="event-img">
                        <p>{{this.User.account}}</p>
                      </div>
                    </td>
                    <td>
                      <div class="event-wrap">
                        <h3><a href="#">{{this.workTitle}}</a></h3>
                        <div class="meta">
                          <div class="organizers">
                            <span><i class="fa-solid fa-building"></i> {{this.punchInTime}}</span>
                          </div>
                          <div class="categories">
                            <span><i class="fa-solid fa-home"></i> {{this.punchOutTime}}</span>
                          </div>
                          <div class="time">
                            <span>Work Hours: {{this.workHours}}</span>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="r-no text-center">
                        {{#if this.isAttendance}}
                        <span><i class="fa-solid fa-check" style="color: rgb(10, 190, 10);"></i></span>
                        {{else}}
                        <span><i class="fa-solid fa-xmark" style="color: rgb(174, 9, 9);"></i></span>
                        {{/if}}
                      </div>
                    </td>
                    <td>
                      {{#if this.isAttendance}}
                      <form action="/admin/attendances/{{this.id}}?_method=PATCH" method="POST"
                        style="display: inline;">
                        <input type="hidden" name="isAttendance" value="false" />
                        <button type="submit" class="btn link-danger">Set as Absent</button>
                      </form>
                      {{else}}
                      <form action="/admin/attendances/{{this.id}}?_method=PATCH" method="POST"
                        style="display: inline;">
                        <input type="hidden" name="isAttendance" value="true" />
                        <button type="submit" class="btn link-success">Set as Attendance</button>
                      </form>
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                  {{!-- ! user 2 --}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

          </div>
          <!-- /col end-->
        </div>
        <!-- /row end-->
      </div>
    </div>
  </div>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</div>